---
import Layout from "@layouts/Layout.astro";
import DitheredImage from "@components/DitheredImage";
const title = "Not found";
const description = "Sorry, the page you are looking for does not exist.";
---

<Layout title={title} description={description}>
  <div class="flex flex-col items-center gap-4 mt-18">
    <DitheredImage
      src="/sad-octopus.jpg"
      width={360}
      height={360}
      alt="Sad octopus"
      className="aspect-square rounded-md"
      client:load
    />
    <p class="text-white font-medium text-center">
      welp, this page doesn't exist.
    </p>
  </div>
</Layout>
