---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";
import { defaultMeta } from "@data/constants";
import Blog from "@components/Blog.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section class="text-center">
    <div class="grid place-items-center">
      <Header title={defaultMeta.title} />
      <p class="mt-3 max-w-prose leading-relaxed">
        {defaultMeta.description}
      </p>
    </div>
  </section>
  <section>
    <h2 class="mt-12 text-2xl font-semibold dark:text-zinc-100 text-zinc-900">
      Recent Posts
    </h2>
    <ul class="mt-6 grid grid-cols-1">
      {posts.slice(0, 3).map((post) => <Blog {...post} />)}
    </ul>
    <a
      class="inline-block mt-7 dark:hover:text-zinc-50 hover:text-zinc-400 transition-colors"
      href="/blog/">View all posts &rarr;</a
    >
  </section>
</Layout>
